@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DS-DIGI.TTF');
}

body {
    background-color: black;
}

input[type="radio"]:checked+label {
    font-weight: 700;
    color: #0f0;
}

.messages {
    height: 90px;
}

.messages+form {
    margin-top: 40px;
}

button {
    background-color: gray;
}

input {
    color: black;
    background-color: lightgray;
}

#givenNumber {
    width: 85px;
    text-align: center;
}

* {
    font-family: 'DS-Digital';
    letter-spacing: 0.07em;
    color: #CCFF00;
    font-size: 1.05em;
}

.container {
    max-width: 600px;
    text-align: center;
    padding: 20px 0;
    margin: 50px auto;
    box-shadow: 0 0 5px rgba(140, 140, 140, 0.25);
}

.gamer {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: auto;
}

.levels,
#name {
    margin: 40px 0;
}

.levels span {
    font-weight: 700;
    font-size: 1.1em;
}

#gameResult,
#goodBye,
#game,
#nameContainer {
    display: none;
}

.continueBtnsContainer {
    text-align: center;
}

.continueBtnsContainer button {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 0.99em;
    }
    .gamer {
        width: 300px;
    }
}