@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}

body {
    background-color: black;
}

button {
    background-color: gray;
}

input {
    color: black;
}

#givenNumber {
    width: 80px;
    text-align: center;
}

* {
    font-family: 'digital-7';
    letter-spacing: 0.07em;
    color: #CCFF00;
    font-size: 1.05em;
}

.container {
    max-width: 1140px;
    text-align: center;
    margin: 50px auto;
}

.gamer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}

.levels,
#message,
#name {
    margin: 25px 0;
}

.levels span {
    font-weight: 700;
    font-size: 1.1em;
}

#gameResult,
#goodBye,
#game,
#nameContainer {
    display: none;
}

.continueBtnsContainer {
    text-align: center;
}

.continueBtnsContainer button {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 0.99em;
    }
    form * {
        height: 40px;
    }
}